/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	font-family: Baskerville;
	margin:1%;
	padding:1%;
}

/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 36px;
	font-weight: bold;
}

h2{
	font-size: 28px;
	font-weight: bold;
}

p{
	font-size: 20px;
}

/*Improve the spacing for paragraphs AND headings*/
p, h1, h2 {
    padding: 10px;
}

.active{
	background-color: yellow;
  text-transform: uppercase;
	text-align: center;
}

/*Style the images */
figure{
	margin: 10px;
}
img{
    width: 25%;
		height:auto;
		box-sizing: border-box;
		border: 3px dotted black;
    border-radius: 10px;
    padding: 5px;
		margin: 5px;
}

img:hover{
	width: 30%;
	transition: 0.5s;
}

/*Add borders around the main components and some
space too*/
header, nav, main, footer{
	border: 3px solid black;
	margin: 20px 0;
}


/*Change the styling for all of the list
items in the nav section*/
nav li{
	background-color: white;
	padding:10px;
	width:25%;
	border:1px solid black;
	display: inline-block;
	width: 20%;
}

figcaption{
	font-size: 16px;
	font-style: italic;
}
