/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	font-family: 'Space Mono', monospace, Baskerville;
	color: white;
	margin:1%;
	padding:1%;
	background-image: url('../images/background.jpeg');
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 15px;
	line-height: 1.2;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  z-index: 1;
  position:absolute;
  left: -500px;
  top: -40px;
}

.skip a:focus{
  background: white;
  top: 0;
  left: 0;
  padding: 6px;
  z-index: 1;
  position: absolute;
}


/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 1.8em;
	font-weight: bold;
}

h2{
	font-size: 1.5em;
	font-weight: bold;
}

p{
	font-size: 1.2em;
}

/*Improve the spacing for paragraphs AND headings*/
p, h1, h2 {
  padding: 10px;
}

a {
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.active{
	background-color: yellow;
  text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

/*Style the images */
figure{
	margin: 10px;
	animation: fadeIn 5s;
}
img{
		height:auto;
		box-sizing: border-box;
		border: 3px dotted white;
    border-radius: 10px;
    padding: 5px;
		margin: 5px;
}

img:hover{
	width: 95%;
	transition: 1s;
}

/*Add borders around the main components and some
space too*/
header, nav, main, aside, footer{
	border: 3px solid black;
	margin: 10px 0;
	background-color: black;
	opacity: 0.95;
}

footer{
	text-align: center;
	font-size: 1em;
	padding: 5px;
}

/*Make main tag as the flex container*/
main{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: auto;
	justify-content: space-around;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
}


main img{
	justify-content: center;
	width: 80%;
	height: auto;
}


/*Change the styling for all of the list
items in the nav section*/
nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-sizing: border-box;
}
nav li{
	background-color: white;
	text-align: center;
	font-size: 0.7em;
	padding:10px;
	border:1px solid white;
	flex-direction: column;

}

figcaption{
	font-size: 0.8em;
	font-style: italic;
}

aside{
	text-align: center;
	padding: 5px;
	box-sizing: border-box;
}

/*tablet version*/
@media all and (min-width: 680px){
	/*change the grid layout for the desktop*/
	main{
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		grid-row-gap: 25px;
		text-align: center;
	}

	.freda, .restaurant_fig, .coffee_fig{
		grid-column: 1 / -1;
	}

	#title_restaurant, #title_coffee{
		grid-column: 1 / -1;
	}

	header{
		display: grid;
		grid-template-columns: 1fr;
	}

	nav{
		width: 100%;
		grid-column: 1 / -1;
	}


	nav ul{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

	/*special fixed position for aside form on tablet and mobile versions on homepage*/
	aside{
		position: fixed;
		right: 0;
		top: 50%;
		width: 20%;
		height: auto;
		border: 2px dotted white;
		padding: 5px;
		box-sizing: border-box;
		background-color: lightgray;
		color: black;
		font-size: 0.75em;
	}


}

/*Desktop version*/
@media all and (min-width: 960px){
	/*change the grid layout for the desktop*/
	main{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		align-items: center;
		grid-row-gap: 15px;
	}

	p{
		font-size: 1.1em;
		text-align: left;
	}

	#title_home{
		grid-column: 1 / span 2;
	}

	i{
		grid-column: 3 / span 1;
	}

	.freda, .restaurant_fig, .coffee_fig{
		grid-column: 3 / span 1;
	}

	#intro_gallery{
		grid-column: 2 / span 2;
	}

	nav{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-end;
		grid-column: 1 / -1;
	}

}

/*Animation for the images*/
@keyframes fadeIn{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/*No animation for the images if the user prefers-reduced-motion */
@media (prefers-reduced-motion) {
  figure {
    animation: fadeIn 5s;
  }
}
